.animate-enter {
    animation: slideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Custom shadow for cards */
.shadow-brutalist {
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.shadow-premium {
    box-shadow: 10px 10px 0px rgba(241, 245, 249, 1);
}

/* Custom Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Skeleton Animations */
@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.animate-shimmer {
    background: linear-gradient(to right, #f8fafc 8%, #f1f5f9 18%, #f8fafc 33%);
    background-size: 800px 104px;
    animation: shimmer 2s linear infinite forwards;
}

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}